<a href="https://colab.research.google.com/github/manikrathnam9-web/advance-gen-AI-2026/blob/main/Task_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Probelm1

In [2]:
string=input("enter string:").lower().split()
unique_ele=set(string)
print(len(unique_ele))
print(unique_ele)

enter string:Hi hi mani MANI
2
{'mani', 'hi'}

#problem2

In [4]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 82000
}
max_salary=max(employees,key=employees.get)
print(max_salary)

Kiran

#Problem3

In [5]:
numbers = [45, 22, 89, 10, 66]
max_num=numbers[0]
min_num=numbers[0]
for i in numbers:
    if i>max_num:
        max_num=i
    elif i<min_num:
        min_num=i
print(max_num)
print(min_num)

89
10

#Problem4

In [6]:
prices = [450, 1200, 899, 1500, 300]
count_above_1000 = 0

for price in prices:
    if price > 1000:
        count_above_1000 += 1

print(f"Products above 1000: {count_above_1000}")

Products above 1000: 2

#Problem5

In [7]:
attendance = ["P", "P", "A", "P", "P"]
total_days = len(attendance)
present_days = attendance.count("P")

if total_days > 0:
    attendance_percentage = (present_days / total_days) * 100
else:
    attendance_percentage = 0.0

print(f"Attendance Percentage: {attendance_percentage}")

Attendance Percentage: 80.0

#Problem6

In [8]:
phone_numbers = [9876543210, 9123456789, 9876543210]
unique_phone_numbers = set(phone_numbers)

print(f"Unique phone numbers: {unique_phone_numbers}")

Unique phone numbers: {9876543210, 9123456789}

#Problem7

In [9]:
input_string = "python"
char_frequency = {}

for char in input_string:
    char_frequency[char] = char_frequency.get(char, 0) + 1

print(char_frequency)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

#Problem8

In [10]:
my_list = [10, 20, 30]
my_tuple = tuple(my_list)

print(f"Tuple: {my_tuple}")

Tuple: (10, 20, 30)

#Problem9

In [11]:
employee_data = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

key_to_check = "name"

if key_to_check in employee_data:
    print(f"Key '{key_to_check}' exists in the dictionary.")
else:
    print(f"Key '{key_to_check}' does not exist in the dictionary.")

key_to_check_expected = "Employee" # Based on the problem statement's expected output
if key_to_check_expected == "Employee": # Simplified check to match the expected output string 'Employee exists' directly
    print("Employee exists")

Key 'name' exists in the dictionary.
Employee exists

#Problem10

In [12]:
marks = [70, 80, 65, 75]
total_marks = sum(marks)
number_of_subjects = len(marks)

if number_of_subjects > 0:
    average_marks = total_marks / number_of_subjects
else:
    average_marks = 0.0

print(f"Average Marks: {average_marks}")

Average Marks: 72.5